/* General styles */

body {
  color: #424242;
  display: flex;
  line-height: 1.7em;
  margin: 0;
}

body,
input,
button {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: initial;
  position: relative;
}

/* h1 headings a little border separator above them. */
h1:not(.pageTitle) {
  margin-top: 65px;
}
h1:not(.pageTitle):before {
  background-color: #2b9ceb;
  content:'';
  height: 7px;
  position: absolute;
  top: -24px;
  width: 48px;
}

a {
  color: #2b9ceb;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

p {
  margin: 10px 0 0 0;
}

blockquote {
  border-left: 1px solid #ccc;
  color: #707070;
  margin-left: 19px;
  padding: 10px 20px;
}

iframe {
  border: none;
  max-width: 100%;
}

img {
  max-width: 100%;
}


/* Side navigation */

.sideNavigation {
  background: #1b243b;
  display: none; /* Default for mobile; media query below enables on desktop. */
  flex: 3;
  padding: 78px 12px 12px 12px;
}

#logoBlock {
  margin-bottom: 60px;
  text-align: center;
}

#linkHome {
  color: #e4cf5b;
}

#logo {
  display: block;
  height: 36px;
  margin: 0 auto;
  width: 36px;
}

.sideNavigation p {
  /* Hide paragraphs that crop up before and after the link list. */
  display: none;
}

/* Level 1 of hierarchy */
.sideNavigation > ul {
  margin: 0;
}
/* Level 2 */
.sideNavigation > ul > li > ul {
  padding: 12px;
}

.sideNavigation li {
  list-style-type: none;
}

.sideNavigation,
.sideNavigation a {
  color: #dfe0e1;
}
.sideNavigation a {
  text-decoration: none;
}
.sideNavigation a:hover,
.sideNavigation a:focus {
  text-decoration: initial;
}


/* Top navigation */

#topNavigation {
  font-size: smaller;
  font-weight: bold;
  padding: 56px 65px;
  text-transform: uppercase;
}

#topNavigation a {
  color: inherit;
  text-decoration: none;
}

#topNavigation a:not(:last-child) {
  margin-right: 20px;
}

body[area="Search"] #linkSearch {
  color: white;
  font-weight: bold;
}
body[area="Submissions"] #linkSubmissions {
  color: white;
  font-weight: bold;
}
body[area="Volunteering"] #linkVolunteering {
  color: white;
  font-weight: bold;
}
body[area="About"] #linkAbout {
  color: white;
  font-weight: bold;
}


/* Main page area */
.main {
  flex: 9;
}

.pageTitle {
  color: black;
  font-size: 2.5em;
  font-weight: normal;
}

.articleContainer {
  display: flex;
}

.gutter {
  flex: 1;
}

.breadcrumbs {
  color: #2b9ceb;
  font-size: 14px;
  padding: 28px 65px 12px 65px;
}



/* Main article content */
article {
  font-family: "Georgia", "Times New Roman", serif;
  flex: 8;
  padding-right: 24px;
}


/* Topic links */
table.topicLinks {
  font-size: 15px;
  line-height: 1.5em;
}
table.topicLinks td {
  padding-bottom: 0.5em;
}
table.topicLinks td:first-child {
  color: gray;
  padding-right: 1em;
  vertical-align: top;
  white-space: nowrap;
}
table.topicLinks .excerpt {
  color: gray;
}


/* Tables */

table.confluenceTable {
  border-collapse: collapse;
}

table.confluenceTable tr {
  border-bottom: 1px solid #d0d0d0;
}

th.confluenceTh {
  background: #eee;
  text-align: left;
}

th.confluenceTh > * {
  margin: 4px;
}

td.confluenceTd > * {
  margin: 0;
}


/* Hide boring macro output */
.content-by-label > li > div {
  display: none; /* Hide most macro bulllet content */
}
.content-by-label > li > div.details {
  display: inherit; /* Just show the key bits */
}


/* Footer */

footer {
  font-size: smaller;
  line-height: initial;
  padding: 12px 12px 12px 0;
}


/* Desktop */

@media (min-width: 800px) {
  .sideNavigation {
    display: block;
  }
}
